
 *{
	margin: 0;
	padding: 0;
  }

body{
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/body_bg3.jpg);
	height: 100%;
	
}
table{
	width: 100%;
}
#container{
	width:88%;
	margin:0 auto;
	padding:0 1%;
	background:#FFF;
}

/*header		rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

.header_top{
	height:100px;
	padding:20px 0;
	background:#FFF;
}
.logo{
	float:left;
	width:30%;
}

/**** Header Top Right ****/
.header_top_right{
	float:left;
	width:70%;
	margin-top:35px;
}
.search_box{
	float:left;
	border: 1px solid #DBDBDB;
	position:relative;
	width:47%;
}
.search_box input[type="text"]{
	width:74%;
	padding:10px 8px;
	outline:none;
	border:none;
	background:none;
	font-size:14px;
	color:#333;
	font-family:Arial;
	outline:none;
	margin:0;
}
.search_box input[type="submit"]{
	border:none;
	cursor:pointer;
	color:#FFF;
	font-size:12px;
	padding:10px 15px;
	height: 36px;
	margin:0;
	
	background: -moz-linear-gradient(top,#70389C,#602D8D);
	background: -o-linear-gradient(top,#70389C,#602D8D);
	background: -ms-linear-gradient(top,#70389C,#602D8D);
	
	transition: all .9s;
	position:absolute;
	right:0;
	top:0;
}
.search_box input[type="submit"]:hover{
	background:#444;
}
/*gio hang*/
.shopping_cart{
	float:left;
	width: 16%;
	height: 40px;
	position:relative;
	margin-left:150px;
	
	
	z-index: 99;
	
	box-sizing: border-box;
	cursor:pointer;
}
.shopping {
	float:left;
	width: 45%;
	height: 100%;
}
.cart{
	float: right;
	width: 55%;
	height: 100%;
	padding: 0 0 0 10px;
	line-height: 36px;
	
	box-sizing: border-box;
}

.shopping_cart span.cart_title{
	font-size:12px;
	font-weight:bold;
	float: left;
	color: #CC3636;
}
.cart_title .san_pham{
	color: #1fbcc2;
}

.shopping a img{
	display: block;
	max-width:125px;
	max-height:40px;
	width: auto;
	height: auto;
	  
}
/* */


.login{
	float: right;
	margin-left:10px;
	width:60px;
	height: 38px;
	display: block;
	border: 1px solid #CECECE;
	text-align: center;

	box-sizing: border-box;
	background: url(../images/gradient_light-1.png) 0 0 repeat-x;
}
.login span a img{
	padding-top:8px;
}
/*** Login ***/

/* end of header       rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

.menu_ngang ul {
	background:#602D8D;
	list-style-type: none;
	text-align: center;
}
.menu_ngang li {
	display: inline-block;
	width: 120px;
	line-height: 40px;
	margin-left: -5px;
}
.menu_ngang a {
	text-decoration: none;
	color: #fff;
	display: block;
}
.menu_ngang a:hover {
	background: #F1F1F1;
	color: #333;
}
/* start menu doc //////////////////////////////////*/
.loai ul{

	list-style-type: none;
	text-align: center;
	width:120px;
}
.loai li{
	display: inline-block;
	width: 120px;
	line-height: 40px;
	margin-left: -5px;
}
.loai a 
{
	color:#602D8D;
	text-decoration: none;
	display:block;
}
.loai a:hover
{
	background: #602D8D;
	color: #fff
}
/*a
{
	text-decoration: none;
}
/* start footer*/
.footer {
	clear: both;
	width: 100%;
	padding: 20px 0px 20px 0;
	text-align: center;

	color: #26062e;
	background-color: #602D8D;
}
.footer a:hover {
	background: #F1F1F1;
	color: #333;
  }

.footer a{
	color: #fff;
	font-weight: normal;
}


